.footer-bg {
  width: 100%;
  height: clamp(220px, 37vw, 415px);
  background: url('/pics/footer-img.jpg') no-repeat center top;
  background-size: cover;
  position: relative;
}
footer.enf1 > div.enf-top {
  width: 100%;
  position: relative;
  background: var(--footer-top-background);
}
footer.enf1 div.contact-info {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  left: 20.5px;
  top: 1px;
}
footer.enf1 div.contact-info a {
  position: relative;
  text-decoration: none;
  font: var(--footer-font);
  color: var(--footer-font-color);
  line-height: var(--footer-line-height);
  letter-spacing: var(--footer-letter-spacing);
}
footer.enf1 div.contact-info a.enf-phone:before {
  width: 24px;
  height: 24px;
  position: absolute;
  content: '';
  background: url('/pics/star.png') no-repeat;
  left: -48px;
  top: -2.5px;
}
footer.enf1 div.contact-info .enf-phone .phone {
  margin-right: 62px;
}
footer.enf1 div.contact-info a.enf-phone span {
  position: relative;
}
footer.enf1 div.contact-info a.enf-phone span.phone:before {
  width: 24px;
  height: 24px;
  position: absolute;
  content: '';
  background: url('/pics/star.png') no-repeat;
  right: -44px;
  top: -2.5px;
}
footer.enf1 div.contact-info a span.faxshool {
  margin-left: 1px;
}
footer.enf1 > div.enf-top div.enf-top-inner {
  width: min(100%, var(--en-website-width));
  padding: 8px clamp(0px, calc(1130px - 100vw), 10px);
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: var(--topfooter-inner-height);
}
footer.enf1 > div.enf-main {
  width: 100%;
  position: relative;
  background: var(--footer-main-background);
}
footer.enf1 > div.enf-main > div.enf-main-inner {
  width: min(100%, var(--en-website-width));
  padding: 15px clamp(0px, calc(1130px - 100vw), 10px);
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: var(--footer-inner-height);
  flex-wrap: wrap;
}
footer.enf1 .enf1-logo-cont {
  display: flex;
  align-items: center;
  position: relative;
  gap: 15px;
  top: 2px;
}
.footer-logo {
  position: relative;
  top: -3px;
  width: var(--footer-logo-width);
}
.footer-name {
  position: relative;
  width: var(--footer-name-width);
}

#tea-logo {
  color: #000;
  width: clamp(90px, 13vw, 144px);
  background: url('/pics/tea-logo.png') no-repeat center center;
  position: relative;
  aspect-ratio: 144/85;
  height: auto;
  background-size: contain;
  left: 12px;
  top: -4px;
}
#naset-logo {
  color: #000;
  width: clamp(120px, 18vw, 198px);
  background: url('/pics/naset-logo.png') no-repeat center center;
  position: relative;
  aspect-ratio: 198/59;
  height: auto;
  background-size: contain;
  left: 4px;
  top: 2px;
}
#texas-catholic-logo {
  color: #000;
  width: clamp(110px, 18vw, 190px);
  background: url('/pics/texas-catholic-logo.png') no-repeat center center;
  position: relative;
  aspect-ratio: 190/62;
  height: auto;
  background-size: contain;
  left: 2px;
}
.footer-access {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 33px;
  justify-content: center;
  top: 8px;
  position: relative;
}
.footer-access a {
  text-decoration: none;
  font-size: clamp(12px, 1.27vw, 13px);
}
footer.enf1 > div.enf-subfooter {
  background: var(--subfooter-main-background);
  border-top: 2px solid #ee2e24;
}
footer.enf1 > div.enf-subfooter > div.enf-subfooter-inner {
  width: min(100%, var(--en-website-width));
  padding: 10px clamp(0px, calc(1130px - 100vw), 10px);
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: var(--subfooter-inner-height);
}
footer.enf1 > div.enf-subfooter .edunet {
  position: relative;
  top: 1px;
  left: 1px;
}
footer.enf1 > div.enf-subfooter .edunet img {
  width: var(--edunet-logo-width);
}
@media only screen and (max-width: 768px) {
  footer.enf1 div.contact-info {
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    gap: 10px;
  }
  footer.enf1 > div.enf-main > div.enf-main-inner {
    gap: 15px;
    justify-content: space-around;
  }
  footer.enf1 > div.enf-main > div.enf-main-inner a,
  footer.enf1 > div.enf-subfooter .edunet {
    top: 0 !important;
    left: 0 !important;
  }
  .footer-access a {
    text-align: center;
  }
  footer.enf1 div.contact-info a.enf-phone:before {
    display: none;
  }
}
